@model Project_63133655.Models.XUATKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XUẤT KHO</h2>

<div>
    <h4>Chi tiết phiếu </h4>
    @Html.ActionLink("Xem nội dung chi tiết", "Index", "NDXuatKho_63133655")
<dl class="dl-horizontal">
    <dt>
        Số phiếu nhập
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoPhieuXuat)
    </dd>

    <dt>
        Ngày nhập
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NgayXuat)
    </dd>

    <dt>
        Nhân viên phụ trách
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MaNV)
    </dd>

    <dt>
        Tên người nhận
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenNgNhan)
    </dd>

    <dt>
        Địa chỉ
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DiaChi)
    </dd>

    <dt>
        Số điện thoại
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SDT)
    </dd>
</dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.SoPhieuXuat }) |
    @Html.ActionLink("Xóa", "Delete", new { id = Model.SoPhieuXuat }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
