@model Project_63133655.Models.NDNHAPKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NDNHAPKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THEKHO.LoaiCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THEKHO.LoaiCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHAPKHO.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAPKHO.MaNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
